# Ignore node_modules directory
node_modules/

# Ignore build output directories
build/
dist/

# Ignore specific files
config.js
*.config.js

# Ignore log files
*.log

# Ignore compiled TypeScript files
*.js

# Ignore test coverage reports
coverage/

# Ignore aws build folder
.aws-sam
